<div class="landing-container">
  <glasanje-countdown></glasanje-countdown>

  <mat-card class="landing-content">

    <p>Овај алат ће Вам помоћи да се пријавите за гласање из иностранства.</p>
    <p>
      Алат ће генерисати документацију потребну за регистрацију. Ваши подаци су безбедни - <b>ниједан лични податак
      неће напустити Ваш уређај</b>. Прочитајте полису приватности као и начин да тестирате ову тврдњу <a routerLink="polisa-privatnosti">овде.</a>
      Ако и даље нисте сигурни искључите интернет док попуњавате формулар - алат ће и даље радити.
    </p>

    <p>Овај алат <b>не служи за гласање</b>.
      Само Вам помаже да испуните образац за регистрацију и пошаљете га надлежном дипломатском представништву.
    </p>

    <p>Овај сајт <b>није званичан сајт ниједног државног органа Републике Србије</b>.
      Направљен је радом чланова дијаспоре за све чланове дијаспоре.
    </p>

    <p>Биће Вам потребно око 2 минута.</p>
    <p>Припремите Ваш пасош и започните пријаву.</p>

    <button class="start-button" color="primary" mat-flat-button routerLink="/registracija">
      Започни пријаву
    </button>

    <div class="additional-info">
      <span>
        Примедбе и предлоге пошаљите на <a href="mailto:info@hocudaglasam.com" target="_blank">info@hocudaglasam.com</a>
      </span>
      <span>
        <a href="https://www.github.com/vokativ/glasanje" target="_blank">Изворни код</a> је доступан свима.
        Свачији допринос је добродошао
      </span>
    </div>

  </mat-card>
</div>
