<div class="privacy-container">

  <mat-card class="privacy-content">

    <h1>Полиса приватности</h1>

    <h2>Које податке овај сајт прикупља?</h2>
    <p>Овај сајт ће преузети са интернета следеће: сам сајт (апликацију), фонтове и ПДФ формулар Министарства.</p>
    <p>Овај сајт <b>неће послати никакве податке серверима па их не прикупља</b>.</p>
    <p>Немамо чак ни основну веб аналитику
      која би
      нам одговорила колико људи је посетило сајт или попунило формулар јер нас апсолутно не занима ко сте и одакле сте
      - <b>ценимо Вашу приватност колико и своју</b>.</p>
    <p>Једино што можемо је да оценимо колико пута је сајт учитан знајући колика је величина сајта у килобајтима и
      колико
      саобраћаја је наш сервер опслужио.</p>

    <h2>Како ово ради а да не скупља податке?</h2>
    <p>Сајт просто додаје ваше унете податке на празан <a
      href="https://github.com/vokativ/glasanje/blob/master/src/assets/VotingRequestDocument.pdf" target="_blank">формулар
      за пријаву за гласање у иностранству</a>. Пластично објашњено, сајт преузме формулар, налепи унете податке на њега
      и да Вам га на располагање. Подаци су код Вас,
      у вашем уређају, и нестају из меморије уређаја чим затворите сајт.

    <p>Оригинални приступ је одлична идеја од претходног пројекта који можете наћи <a
      href="https://github.com/bdjukic/glasajDijasporo" target="_blank">овде.</a></p>

    <h2><i>Јесте</i>, како да знам да не скупљате податке?</h2>

    <p>Разумемо да сте обазриви. Лак начин да проверите да ли наш сајт (или било који други сајт) шаље ваше податке је
      следећи:</p>

    <ol>
      <li>Користите ваш интернет прегледач (Chrome, Firefox, Safari...) за бесплатну проверу.</li>
      <li>Прочитајте упутство за проверу шта сајт преноси преко мреже (на енглеском је <a
        href="https://developers.google.com/web/tools/chrome-devtools/network" target="_blank">овде</a>, а на српском <a
        href="https://translate.google.com/translate?sl=auto&tl=sr&u=https%3A%2F%2Fdevelopers.google.com%2Fweb%2Ftools%2Fchrome-devtools%2Fnetwork"
        target="_blank">овде</a>.
      </li>
      <li>Уместо сајта који наводе у упутству користите hocudaglasam.com. Унесите безвезе податке (за ЈМБГ унесите све
        јединице) и проверите да ли се ишта шаље током попуњавања и преузимања форме.
      </li>
    </ol>

    <p>Приметећите да ништа није прослеђено. Ради забаве, предлажемо да исти поступак обавите на сајтовима које иначе
      посећујете ради поређења.</p>

    <p>Такође, програмски код сајта је овде доступан свима да га анализирате. Сајт је направљен на принципима <a
      href="https://sr.wikipedia.org/wiki/%D0%9E%D1%82%D0%B2%D0%BE%D1%80%D0%B5%D0%BD_%D0%BA%D0%BE%D0%B4"
      target="_blank">отвореног кода</a>. Детаљније објашњење принципа отвореног кода на енглеском је <a
      href="https://en.wikipedia.org/wiki/Open_source" target="_blank">овде.</a></p>

    <h2>Моје бриге нису обухваћене овим одговорима. Шта да радим?</h2>

    <p>Јавите нам се путем наше контакт адресе <a href="mailto:info@hocudaglasam.com" target="_blank">info@hocudaglasam.com</a>
      и радо ћемо погледати о чему се ради.</p>

    <button class="back-button" color="primary" mat-flat-button routerLink="/">
      Назад на почетну страницу
    </button>

  </mat-card>
</div>
